/* vars */
:root {
  --clr-primary: hsl(158, 36%, 37%);
  --font-primary: Fraunces, serif;
  --font-secondary: Montserrat, sans-serif;
}

html {
  font-size: 62.5%;
}

/* body */
body {
  background-color: hsl(30, 38%, 92%);
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

/* card */
.product-card {
  background: white;
  border-radius: 15px;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card {
    max-width: 550px;
  }
}

/* typography */
.product-details {
  margin: 1rem;
}
.product-type {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7rem;
  opacity: 0.6;
}

.product-name {
  font-family: var(--font-primary);
  font-size: 3.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.product-description {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;
}

.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-current-price {
  font-family: var(--font-primary);
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--clr-primary);
}

.product-prev-price {
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: line-through;
  opacity: 0.9;
  margin-left: 1.7rem;
}

/* button */
.button {
  background: var(--clr-primary);
  border-radius: 1rem;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: var(--font-secondary);
  font-weight: 500;
  justify-content: center;
  padding: 1.8rem;
  width: 100%;
}

.button-icon {
  margin-right: 1rem;
}

.button:hover {
  background: #1a4031;
}
